numpy==1.25.2
matplotlib
pillow
scikit-learn
imageio
pandas
seaborn
jupyter
torch        # PyTorch CPU/GPU version
torchvision  # For CNN image transforms if needed
tqdm



# pip install -r requirements.txt
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128
